{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Criticism</title>
    <link rel="stylesheet" href="{% static 'core/style.css' %}">
</head>
<body>

<div id = "menu_buttons">
    <form action="https://buggane.pythonanywhere.com" method="GET" class="form_memu">
        <button type="submit" class="menu_button">home</button>
    </form>

    <form action="https://buggane.pythonanywhere.com/sorted_up/" method="GET" class="form_memu">
        <button type="submit" class="menu_button">sort up</button>
    </form>

    <form action="https://buggane.pythonanywhere.com/sorted_down/" method="GET" class="form_memu">
        <button type="submit" class="menu_button">sort down</button>
    </form>

    <form action="https://buggane.pythonanywhere.com/admin" class="form_memu">
        <button type="submit" class="menu_button">admin</button>
    </form>
</div>


{% block content %}

{% endblock %}
</body>
</html>